



<%= flash[:notice] %>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div class="title">
   <P>
    <strong>Title : </strong>
    <%= @book.title %>
   </P>
</div>

<div class="body">
  <p>
    <strong>Body :</strong>
    <%= @book.body %>
  </p>
</div>


<div class="link-show">
<p>
<%= link_to "Edit", edit_book_path(@book.id) %>
|
  <a href="/books">Back</a>
</p>
</div>
