<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<body>
  <header>
    <h1>Books</h1>
  </header>
  
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>body</th>
        <th colspan="3"></th>
      </tr>
      <th>aaaaaaaaaaaaaaaa</th>
      <th>aaaaaaaaaaaaaaaa</th>
      <th>aaaaaaaaaaaaaaaa</th>
    </thead>
  </table>
  
    
    


  
  
</body>




  <body>
    <%= yield %>
  </body>
  
  <h1>New book</h1>
  
  
  
  
  
  
  
  
</html>
